:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}



body {
    position: relative;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    width: 100%;
    background: #a2a2a2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f9f9f9, #f9f9f9, #f9f9f9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f9f9f9, #f9f9f9, #f9f9f9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0;
    margin-bottom: 0;

}

.wrap,
.container-fluid {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: -25px;

    ;
}

#home-login {
    /*    display: none;
    */
    padding: 2px;
    margin: 0;
    width: 100%;
    background-image: url(../image/earth-11047_1920.jpg);
    /*    background-position: left right;
    */
    background-repeat: space;
    font-family: Arial, Helvetica, sans-serif;
    height: 600px !important;

}

nav {
    opacity: 0.9;
    /*    z-index: 3;
    */
}

.nav_header,
nav {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

#com-menu {
    border: #333 solid;
    position: relative;
    z-index: 100;
    right: 0;
    float: right;
    width: 20%;
    background: #333;
    display: none;

}

#com-menu a {
    padding: 10px;
    display: block;
    background: #333;
    color: #fefefe;
}

.motive,
.home-search {
    display: inline;
}

.home-search input {
    margin-right: 0 !important;
}

.home-search button {
    color: #fff;
    margin-left: 0 !important;

}


#logo_1 {
    width: 130px !important;
    height: 50px;
    margin: 0 0 0 5px;
    opacity: 1;
}

#header-right {
    height: 50px;
    width: auto;
    position: relative;
/*    float: right;
    */    right: 0;
    overflow: auto;

}

#comp_short_name {
    height: 50px;
    width: auto;
    position: relative;

    right: 0;
    /*    text-align: right;
    */
    color: #fff;
    line-height: inherit;
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline;
}

#_c-2 {
    margin-right: 0;
    padding-right: 0;
    text-align: right;
}

#comp_img {
    width: 80px;
    height: 50px;
/*    position: relative;
    */    float: right;
    margin: 0 0 0 10px;
    right: 0;
    max-width: inherit;
    max-height: inherit;
    overflow: hidden;
    display: inline;

}

#_home {
    /*
    position: relative;
    z-index: -10;
*/
    overflow: auto;

}

@media screen and (max-width: 922px) {
    #com-menu {
        width: 100%;
        top: 0;
        right: 0;
    }

    #com-menu a {
        display: block !important;

    }

    #home-login .card-signin,
    .card-body {
        width: 100%;
    }

    .home-search button {
        width: 100%;
    }

    #comp_short_name {
        text-align: right;
        display: inline;
    }

    #col,
    #c_s_n {
        padding: 150px 0 15px;
        margin: 0;
        color: white !important;
    }



    #logo_1 {
        width: 130px !important;
        width: 50px;
        margin: 0 0 0 5px !important;
    }

    #_welcome {
        text-align: center;
    }
}


nav #welcome_wlc {
    position: relative !important;
    width: 100% !important;
    color: #fefefe !important;
    text-align: right !important;
}

hr {
    border-color: #fdfdfd;
}

#response {
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
}

.hrline {
    padding: 0;
    margin: 0;
    height: 5px;
    border-color: #fff;

}

#colu {
    width: 100%;
    margin-top: 40px;
}

#_display-col {
    width: 100%;
    margin-top: 200px;

}

#_display {
    color: #fc3;
    padding: 100px 100px 50px 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    font-family: cursive;
    font-size: 2.7em;
}

.card-signin {
    width: 100%;
    border: 1 #fff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;

}

.card-signin .card-title {
    margin-bottom: 1.5rem;
    letter-spacing: 4px;
    color: #fefefe;
    /*    color: #fc3;
    */
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 40px;
}

.card-signin .card-body {
    padding: 2rem;

}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    color: #fefefe;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}


.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}


.t-material {
    margin-bottom: 25px;
    -webkit-box-shadow: -2px 11px 33px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -2px 11px 33px -1px rgba(0, 0, 0, 0.42);
    box-shadow: -2px 11px 33px -1px rgba(0, 0, 0, 0.42);

}


#lesson_t {
    display: inline-block !important;
    width: 45%;
    margin: 20px;
}

@media screen and (max-width: 922px) {

    #lesson_t {
        width: 100%;
        text-align: justify;
        /*        margin: 0 auto;
        */
        margin: 0 0 30px 0;

    }


}


.choose {

    color: #fefefe;
}


.t-body {
    padding: 25px;
}

.t-body .card-text {
    padding: 20px 0px 15px;
}



._image {
    margin: 0 !important;
    padding: 0;
}

.t-quiz {
    color: #fefefe;
    padding: 50px 0 50px 0;
}

.q-text {
    padding: 20px 0 20px 0 !important;
}

.jumbotron .container,
.jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
}

#foot {
    padding-bottom: 50px;
    /*    margin-bottom: 50px;
    */
}
