/*  

=======================================
               LESSON PAGE
=======================================
*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar .topic {
    padding: 12px 8px 8px 20px;
    text-decoration: none;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    font-size: 18px;
    color: #a1a1a1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar a:active {
    color: #fc3;
}

.sidebar .closebtn {
    position: relative;
    top: 8px;
    right: 30px;
    font-size: 16px !important;
    margin-left: 190px;
    text-decoration: none;
}

#lessonView {
    border-color: #fff 2px !important;
}

#lessonN {
    display: inline;
}

#lessonS {
    margin-bottom: 1px;
    padding: 0 50px;
    /*    z-index: 100;
    */
}
.editable_box {
    border-top-style: solid ;
    border-top-color: rgb(0, 0, 0);
    width:100%;
    
}
#com-menu {
    border-bottom: #333 solid;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    position: fixed;
    /*z-index: 10;
    */z-index:2147483648;
    right: 0;
    top: 120px;
    float: right;
    width: 20%;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 0%;
    transform: translateX(100%) translateX(-5px);
    transition: all 0.2s;
    /*display: none;
    */
    -webkit-transform: translateX(100%) translateX(-5px);
    -moz-transform: translateX(100%) translateX(-5px);
    -ms-transform: translateX(100%) translateX(-5px);
    -o-transform: translateX(100%) translateX(-5px);
}

#com-menu:hover{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#com-menu a {
    padding: 10px;
    display: block;
    /* background: #333; */
    color: #fefefe;
}
.com-menu #un_drag_btn a{
    display:none;
}
video {
    margin-top: 1px !important;
    padding-top: 1px !important;
    width: 80%;
    height: 450px;
    border-top-style: solid;
    border-top-color: rgb(0, 0, 0);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.8);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.8);

}
#is_a_plus{
    width:50px;
    height:40px;
    font-size: 100%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    float:center;
}
.new_g{
    width:30%;
    /* background-color: #111; */
    left:0;
    right:0;
}
.new_g h3{
    color:inherit;
}
.user_img{
    height:340px;
     width:100%;

}
.user_btn{
    margin: 300px 0 0 10px;
    position: relative;
    
}

.openbtn {
    display: inline;
    width: 60px !important;
    font-size: 12px !important;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px 5px;
    margin-left: 5px;
    border: none;
    float: left;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 0px;

}

#navb {
    transition: margin-left .5s;
    padding: 16px;
}

#main form button {
    text-align: right;
}
.image_container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color:black;
    border-bottom-style: solid;
    border-bottom-color: #f44336;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transition:2s;
    transform: translate(-50%, -50%);
    -webkit-transition:2s;
    -moz-transition:2s;
    -ms-transition:2s;
    -o-transition:2s;
}
#drag_menu{
    color:white;
        font-size: 20px;
    /* display:none; */
}
.drag_menu_1{
    float: right;
}

.card-text {
    font-size: 85%;
  }



/* On smaller screens, where height is less than 750px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 922px) {
    .sidebar .closebtn {
        top: 25px;
        padding: 15px 5px 40px !important;
    }
    /* .com-menu{
        display: none;
    } */

    .sidebar {
        padding-top: 5px;

    }
    #com-menu {
        width: 100%;
        top: 0;
        right: 0;
        top:90px;
    }

    #com-menu a {
        display: block !important;

    }

    #drag_menu{
        color:white;
        font-size: 8pt;
        float: right;
        display:block;
    }
    .drag_menu_1{
        display:none;
    }
    .com-menu #un_drag_btn a{
        color:white;
        font-size: 20px;
        display:block;
    }
    .new_g{
        width:100%;
    }
    .user_img{
        height:350px;
    
    
    }

    .sidebar a {
        font-size: 18px;
    }

    #lessonN {
        padding: 0 5px;
        font-size: 25px;
        display: block;
        margin-top: 20px;

    }

    #lessonS {
        padding: 0 5px;
        text-align: justify;
    }
    
    #empty_Search{
        width:inherit; 
        height:inherit;
    }

    video {
        margin-top: 0;
        padding-top: 0;
        height: 300px;
        width: 100%;
    }

}
@media screen and (max-width:768px){
    #empty-Search{
    width:500px; 
    height:inherit;
}
#btn-lesson{
display:block;
}

}



@media screen and (max-width:988px){
    ._display-col{
        display:none;
    }
    #btn-lesson{
display:block;
}

} 

@media screen and (min-width:1024px){
 #empty-Search{
    width:900px; 
    height:inherit;
}}
@media screen and (min-width:1006px){
 #empty-Search{
    width:900px; 
    height:inherit;
}
}