.container-vid{
	display:flex;
justify-content:center;
align-items: center;
height:100vh;
}

.video{
	width: 100%;


}
.c-video{
	width: 100%;
	max-width: 800px;
	position:relative;
	overflow: hidden;
}
.c-video:hover .controls{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}
.controls{
	display: flex;
	position:absolute;
	bottom:0;
	width:100%;
	flex-wrap: wrap;
	background-color: rgba(0,0,0,0.3);
	transform: translateY(100%) translateY(-5px);
	transition: all 0.2s;
	z-index: 2147483648;
	-webkit-transform: translateY(100%) translateY(-5px);
	-moz-transform: translateY(100%) translateY(-5px);
	-ms-transform: translateY(100%) translateY(-5px);
	-o-transform: translateY(100%) translateY(-5px);
}
.buttons{
	padding:10px;
}

.buttons button{
	background:none;
	border:0;
	outline:0;
	cursor:pointer;

}
/*.buttons button:before{
	content:'\f144';
	font-family: 'Font Awesome 5 Free';
	width: 30px;
	height:30px;
	display: inline-block;
	font-size: 28px;
	color: #fff;
	-webkit-font-smoothing:antialiased;
}

.buttons button .play:before{
	content:'\f144';
}
.buttons button .pause:before{
	content:'\f04c';
}*/
.orange-bar{
	height: 10px;
	top:0;
	left:0;
	width: 100%;
	background: black;
}
.orange-juice{
	height: 10px;
	background-color: white;

}
#playpausebtn{
	
	transition: all 0.2s;
}
#pause{
	display: none;
	
	transition: all 0.2s;
}
#muted{
	display: none;
}

video::-webkit-media-controls {
  display: none !important;
}
#to_small{
	display: none;
}